.navbar {
    height: 5rem;
    font-size: 1.2rem;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
}

.jumbotron {
    background-image: url(asset/image/jumbotron.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.5);
}

.display {
    font-size: 4rem;
    font-style: italic;
    color: rgba(255, 255, 255, 0.75);
}

#carousel {
    padding: 7rem 25rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card {
    background-color: azure;
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer {
    background-color: #4d7fca;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    text-align: center;
}

#copyright {
    background-color: #0d6efd;
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 0 0.25rem;
}

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    padding: 0.5rem;
}   
